# ========== BACKEND ==========
backend/node_modules/
backend/.env
backend/img/

# ========== FRONTEND ==========
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.production.local
frontend/dist/

# ========== LOGs et IDE ==========
.DS_Store
.idea/
.vscode/
*.log
*.swp

# ========== SYSTÈME ==========
*.bak
*.tmp
