    /*h1 {
        font-family: 'Grand Hotel', cursive;
        font-size: 4rem;

        color: var(--jaune-vif);
        font-weight: normal;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

        .iz {
        font-family: 'Plaster', cursive;
        padding: 0 10px;
        display: inline-block;
        transform: skew(-15deg);
        }
    }*/

.virtualizlogo{
    img{
        height: 80px;
            @media (max-width: 768px) {
            height: 60px;
            }
        }
    }
