#process{
    background-image:
    linear-gradient(rgba(221, 214, 193, 0.1), rgba(221, 214, 193, 0.08)),
    url('../../assets/fond-beige-psyche.svg');
    background-size: cover;
    background-position: center;

    .soustitre{
        display: flex;
        gap: 20px;
    }
}
